@import 'src/styles/variables.scss';

.form-item {
  &-source {
    &-type {
      .ant-segmented-item-selected {
        &:first-child {
          background-color: $green_10 !important;
          color: $green;
        }
        &:nth-child(2) {
          background-color: $red_10 !important;
          color: $red;
        }
      }
    }
  }
}
