$primary: var(--color_primary);
$sidebarBg: rgba(25, 189, 255, 0.1);
$sidebarColor: #8a8b8d;
$bg: var(--color_bg);
$dark: var(--color_dark);
$dark_grey: var(--color_dark_grey);
$over_dark: var(--color_over_dark);
$over_dark_2x: var(--color_over_dark_2x);
$stroke: var(--color_stroke);
$grey: var(--color_grey);
$taupe_gray: var(--color_taupe_gray);
$red: var(--color_red);
$red_10: var(--color_red_10);
$green: var(--color_green);
$green_10: var(--color_green_10);
$white: var(--color_white);
$silver: var(--color_silver);
$raisin_black: var(--color_raisin_black);
$content_bg: var(--color_content_bg);
$form_bg: var(--color_form_bg);
$onyx: var(--color_onyx);
$border: var(--color_border);
$hoverInput: var(--color_hoverInput);

// Font family
$font-primary: 'Poppins', sans-serif;

// Flex styles
@mixin flex {
  display: flex;
  align-items: center;
}

.flex {
  @include flex;
  column-gap: 10px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-gradient-bg {
  background: radial-gradient(circle at top left, #32383e, transparent 20%),
    radial-gradient(circle at top right, #32383e, transparent 20%), #1c1e23;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin line-clamp1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp1 {
  @include line-clamp1;
}

//Scroll
@mixin scroll {
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $bg;
    border-radius: 20px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: #878a99;
    background: $primary;
    border-radius: 20px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    // background: #878a99;
    background: $primary;
    cursor: pointer;
  }
}

@mixin scroll_10 {
  @include scroll();
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }
}

@mixin scroll-x {
  @include scroll();
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 4px;
    width: 474px;
  }
}

@mixin scroll-table {
  overflow-x: auto;

  &::-webkit-scrollbar {
    border-radius: 8px;
    height: 20px;
    padding: 15px;
    position: fixed;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #15181c;
    border-radius: 8px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 8px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

@mixin scroll-none {
  overflow-y: auto;
  /* width */

  &::-webkit-scrollbar {
    display: none;
  }
}
