@import 'src/styles/variables.scss';
.workspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-file {
    margin-top: 53px;
    border-radius: 16px;
    width: 319px;
    padding: 12px;
    border: 1px solid #717493;
    background: #212a37;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    &-header {
      display: inline-block;
      padding: 17px 21px 16px 12px;
      border-radius: 15px;
      background-image: url('src/assets/svg/music.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    button {
      min-width: 173px;
      &:not(.active) {
        background-color: transparent;
      }
    }
  }
  &-results {
    margin-top: 53px;
    background: radial-gradient(circle at top left, #32383e, transparent 10%),
      radial-gradient(circle at top right, #32383e, transparent 10%), #15171c;
    min-width: 790px;
    padding: 30px;
    border-radius: 30px;
  }
  &-load-wrapper {
    position: relative;
    min-height: calc(100vh - 108px);
  }
  .create-btn-worspace-mobile {
    border: none;
    color: #52edac;
    background-color: transparent;
    border: 2px solid #1b2c2a;
    margin-bottom: 10px;
    &:hover {
      background-color: #1b2c2a !important;
      border: 2px solid #1b2c2a !important;
    }
  }
}

.main-loading-wrapper {
  .ant-spin-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  .workspace {
    &-results {
      min-width: 100%;
    }
  }
}

:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-title,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-paragraph
  > li,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-avatar,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-button,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-input,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-image {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.06) 25%,
    rgba(255, 255, 255, 0.15) 37%,
    rgba(255, 255, 255, 0.06) 63%
  );
  background-size: 400% 100%;
}

.custom-skeleton {
  overflow: hidden;
}

.btn-lang-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0 0 0 !important;
  gap: 20px;
}

.btn-group-underline {
  // border-bottom: 1px solid $dark_grey;
  padding: 20px 0;
}
