@import 'src/styles/variables.scss';
.workspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .workspace_file_container {
    margin: 30px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    border: 2px solid rgba(46, 142, 180, 0.21);
    &-title {
      color: #fff;
      font-size: 17px;
      margin: 30px 0 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &-button {
      button {
        height: unset;
        font-size: 25.025px;
        font-style: normal;
        font-weight: 700;
        padding: 19px 52px;
        margin-bottom: 40px;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    button {
      min-width: 173px;
      display: flex;
      padding: 12px 35px !important;
      height: unset !important;
      align-items: center;
      justify-content: center;
      &:not(.active) {
        background-color: transparent;
      }
    }
  }
  &-results {
    margin-top: 53px;
    background: radial-gradient(circle at top left, #32383e, transparent 10%),
      radial-gradient(circle at top right, #32383e, transparent 10%), #15171c;
    padding: 30px;
    border-radius: 30px;
  }
  &-load-wrapper {
    position: relative;
    min-height: calc(100vh - 108px);
  }
  &-modal {
    .ant-modal-footer {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-direction: column-reverse;
    }
  }
  .create-btn-worspace-mobile {
    border: none;
    color: #52edac;
    background-color: transparent;
    border: 2px solid #1b2c2a;
    margin-bottom: 10px;
    &:hover {
      background-color: #1b2c2a !important;
      border: 2px solid #1b2c2a !important;
    }
  }
}

.main-loading-wrapper {
  .ant-spin-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  .workspace {
    &-results {
      min-width: 100%;
    }
  }
}

:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-title,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-paragraph
  > li,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-avatar,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-button,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-input,
:where(.css-dev-only-do-not-override-nkaqb4).ant-skeleton.ant-skeleton-active
  .ant-skeleton-image {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.06) 25%,
    rgba(255, 255, 255, 0.15) 37%,
    rgba(255, 255, 255, 0.06) 63%
  );
  background-size: 400% 100%;
}

.custom-skeleton {
  overflow: hidden;
}

.btn-lang-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0 0 0 !important;
  gap: 20px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-group-underline {
  // border-bottom: 1px solid $dark_grey;
  padding: 20px 0;
}
