@import 'src/styles/variables.scss';

.sidebar {
  width: 272px;
  flex-shrink: 0;
  border-right: 1px solid #26272f;
  background-color: $bg;

  &-title {
    height: 76px;
    border-bottom: 1px solid $border;
    padding-left: 15px;
    @include flex;
    position: relative;
    justify-content: center;
    &-logo {
      svg {
        width: 120px;
      }
    }
    &-mobile {
      .sidebar-logo-bar {
        @include flex;
        width: 100%;
        justify-content: space-between;
        padding-right: 15px;
      }
      .mobile-drawer-close {
        border: none;
        background-color: transparent;
      }
    }
  }

  &-footer {
    padding: 16px 15px;

    &-button {
      width: 100%;
      border-radius: 8px;
      background: #2e2f34;

      padding: 8px;

      color: #fff;
      font-size: 16px;
      font-weight: 500;

      display: flex;
      align-items: center;
      column-gap: 14px;
      cursor: pointer;

      transition: 0.3s;
      &:hover {
        background: #4d4f57;
      }
    }
  }

  &-close {
    width: 70px;
  }
}

.menu {
  padding: 20px 15px 24px;
  height: calc(100vh - 149px);
  @include scroll-none;
  overflow-x: hidden;

  &-title {
    color: $stroke;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 0 0 8px;
    margin-bottom: 12px;
  }
  &-item {
    &:hover {
      .ant-dropdown-trigger {
        opacity: 0.5;
      }
    }
    margin-bottom: 16px;
    transition: 0.3s ease-in-out;
    &-edit-options {
      flex: 0 0 10%;
      width: 100%;
    }
    p {
      @include line-clamp1;
    }

    &-active {
      .menu-item-parent {
        background-color: $sidebarBg;
        &-left {
          color: $primary !important;
        }
      }
    }

    &-parent {
      height: 41px;
      @include flex;
      padding: 8px 6px 8px 8px;
      border-radius: 120px;

      &-left {
        width: 100%;
        @include flex;
        flex: 0 0 90%;
        column-gap: 8px;
        color: $sidebarColor;
        font-size: 16px;
        font-weight: 500;
      }

      &-right {
        transition: 0.15s;
        transform: rotateZ(180deg);

        display: flex;
        align-items: center;

        &-open {
          transform: rotateZ(0deg);
        }
      }
    }
    &-children {
      padding: 8px;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      transition: 0.3s;
      border-radius: 16px;
      background-color: $dark;
      background-color: #27292e;
      margin-top: 12px;

      a {
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: #909193;
        padding: 8px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        transition: 0.3 cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border-bottom: 1px solid transparent;
        font-size: 14px;

        svg path {
          transition: 0.3 cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:hover {
          // color: $primary !important;
          // background-color: #152833;
          color: $white !important;
          background-color: $over_dark_2x;
          border-color: $primary;
          svg path {
            // stroke: $primary !important;
            color: $white !important;
          }
        }

        .icon {
          background-color: #909193;
          width: 4px;
          height: 4px;
          border-radius: 50%;
        }
      }

      &-active {
        color: $primary !important;
        // background-color: #152833;
        // svg path {
        //   stroke: $primary !important;
        // }
        color: $white !important;
        background-color: $over_dark_2x;
        // border-bottom: 1px solid $primary !important;
        svg path {
          color: $white !important;
        }
      }
    }
  }
}

.menu-item-parent .ant-dropdown-trigger {
  cursor: pointer;
  opacity: 0;
  &:hover {
    opacity: 1 !important;
  }
}

.sidebar-mobile-drawer .menu-item-parent .ant-dropdown-trigger {
  opacity: 1 !important;
}

.edit-confirm-modal .ant-modal-content {
  max-width: 28rem;
  margin: 0 auto;
}

.edit-confirm-modal.ant-modal {
  width: 100% !important;
}

.menu-item-parent-left-p[contentEditable='true']:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.sidebar-mobile-drawer .ant-drawer-body {
  margin: 0 !important;
  padding: 0 !important;
  .sidebar {
    height: 100vh;
    width: 100%;
  }
}
