.payment-type-modal {
  //   max-width: 520px !important;
  display: inline-block;
  .payment-btn-group {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
// .buy-plan {
// }
